
$backgroundTable: #fff;
$red: #ff0000;

#home-container {
  background-color: $backgroundTable;
  box-shadow: 0px 0px 65px -10px #000000;
  -webkit-box-shadow: 0px 0px 65px -10px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 65px -10px rgba(0,0,0,1);
}

#favoriteModalTable tr td i:hover { color: $red; cursor: pointer; }
