
<div class="container mt-4 mb-4 pt-3 pb-2" id="home-container">
  <div class="row">
    <div class="col">
      <h2>Insurance Table</h2>
      <p>These are our insurance available</p>
    </div>
    <div class="col">
        <button type="button" class="btn btn-outline-secondary float-right" (click)="openFavModal(favoritesModal)">See Favorites</button>
    </div>
  </div>

  <app-insurance></app-insurance>
</div>

<!-- TODO: Modal Content -->
<ng-template #favoritesModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">List of Favorites</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-striped table-responsive" id="favoriteModalTable">
        <thead>
          <tr>
              <th>Name</th>
              <th>Brand</th>
              <th>Kind</th>
              <th>Price</th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>favorite1</td>
            <td>favorite2</td>
            <td>favorite3</td>
            <td>favorite4</td>
            <td align="center"><i class="fas fa-trash"></i></td>
          </tr>
          <tr>
            <td>favorite1</td>
            <td>favorite2</td>
            <td>favorite3</td>
            <td>favorite4</td>
            <td align="center"><i class="fas fa-trash"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
