<footer class="footer fixed-bottom bg-dark py-3">
  <div class="container">
    <span class="m-0 small text-white text-center">Copyright &copy; SingularCover Test by Laura Mata 2018</span>
  </div>
</footer>
