
<div class="row">
  <div class="container">
    <div class="table-responsive">
      <input class="form-control mb-3" type="text" placeholder="Search by Name" name="searchTxt" [(ngModel)]="searchTxt"/>

      <table class="table table-hover" id="dataTable" [mfData]="insur | search: searchTxt" #mf="mfDataTable" [mfRowsOnPage]="5" *ngIf="show">
        <thead>
          <tr>
            <ng-container *ngIf="searchTxt == ''">
              <th><mfDefaultSorter by="id">Id</mfDefaultSorter></th>
              <th><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
              <th><mfDefaultSorter by="brand">Brand</mfDefaultSorter></th>
              <th>Logo</th>
              <th><mfDefaultSorter by="kind">Kind</mfDefaultSorter></th>
              <th>Kind-Image</th>
              <th>Price</th>
              <th>Favorite</th>
            </ng-container>
            <ng-container *ngIf="searchTxt != ''">
              <th><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
              <th><mfDefaultSorter by="brand">Brand</mfDefaultSorter></th>
              <th>Logo</th>
              <th><mfDefaultSorter by="kind">Kind</mfDefaultSorter></th>
              <th>Price</th>
              <th>Favorite</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of mf.data">
            <ng-container *ngIf="i == -1">
              <td colspan="12" align="center">No Data Found</td>
            </ng-container>
            <ng-container *ngIf="searchTxt == ''">
              <td>{{i.id}}</td>
              <td>{{i.name}}</td>
              <td>{{i.brand}}</td>
              <td><img class="" [src]="'assets/images/' + i.brandImage" alt="Logo" width="35px"> </td>
              <td>{{i.kind}}</td>
              <td><img class="" [src]="'assets/images/' + i.kindImage" alt="Kind" width="35px"> </td>
              <td>{{i.price}}</td>
              <td align="center"><i class="fas fa-heart"></i></td>
            </ng-container>
            <ng-container *ngIf="i != -1 && searchTxt != ''">
                <td>{{i.name}}</td>
                <td>{{i.brand}}</td>
                <td><img class="" [src]="'assets/images/' + i.brandImage" alt="Logo" width="35px"> </td>
                <td>{{i.kind}}</td>
                <td>{{i.price}}</td>
                <td align="center"><i class="fas fa-heart"></i></td>
            </ng-container>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
